        ../../math/advanced_linear_algebra/main/
        ../../math/bayesian_prob/main/
        ../../math/multivariate_prob/main/
        ../RNNs/main/
        ../attention/1-test
        ../attention/main/
        ../neural_style_transfer/eBook - How to Build a Career in AI.pdf
        ../neural_style_transfer/golden_gate.jpg
        ../neural_style_transfer/luffy.jpg
        ../neural_style_transfer/main/
        ../neural_style_transfer/nasa.jpg
        ../neural_style_transfer/starry_night.jpg
        ../neural_style_transfer/thameur.jpg
        ../neural_style_transfer/thameur_luffy.jpg
        ../object_detection/0-transfer.py
        ../object_detection/1-yoloo.py
        ../object_detection/acces_camera.py
        ../object_detection/cifar10_data.npz
        ../object_detection/detections/
        ../object_detection/main/
        ../object_detection/minn.py
        ../object_detection/try.py
        ../time_series/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv
        ../time_series/downlawd.py
        ../time_series/downloaded_file.ext
        ../time_series/downloaded_file.pdf
        ../time_series/extrct.py
        ../time_series/main/
        ../time_series/rr
        ../time_series/steps
        ../time_series/untitled2.py
        ../time_series/www-efset-org-cert-wwiF8A.pdf
        ../transfer_learning/.vscode/
        ../transfer_learning/0-main.py
        ../transfer_learning/augmentation.py
        ../transfer_learning/build_first_model.py
        ../transfer_learning/cifar10_data.npz
        ../transfer_learning/dfg.py
        ../transfer_learning/kaggel.py
        ../transfer_learning/load.py
        ../transfer_learning/new.py
        ../transfer_learning/objectf_model.py
        ../transfer_learning/save_data.py
        ../transfer_learning/test.py
        ../transfer_learning/try.py
        ../word_embeddings/main/
        ../../test
        ../../unsupervised_learning/README.md
        ../../unsupervised_learning/autoencoders/1-main.py
        ../../unsupervised_learning/autoencoders/1-test
        ../../unsupervised_learning/autoencoders/2-test
        ../../unsupervised_learning/autoencoders/3-test
        ../../unsupervised_learning/autoencoders/main/
        ../../unsupervised_learning/autoencoders/try.py
        ../../unsupervised_learning/autoencoders/vae_.py
        ../../unsupervised_learning/clustering/main/
        ../../unsupervised_learning/dimensionality_reduction/1-test
        ../../unsupervised_learning/dimensionality_reduction/8-tsne.py
        ../../unsupervised_learning/dimensionality_reduction/MNIST.npz
        ../../unsupervised_learning/dimensionality_reduction/main/
        ../../unsupervised_learning/dimensionality_reduction/mnist2500_X.txt
        ../../unsupervised_learning/dimensionality_reduction/mnist2500_labels.txt
        ../../unsupervised_learning/dimensionality_reduction/try.py
        ../../unsupervised_learning/hmm/farward.ipynb
        ../../unsupervised_learning/hmm/try.ipynb
        ../../unsupervised_learning/hyperparameter_tuning/Dockerfile
        ../../unsupervised_learning/hyperparameter_tuning/cifar10_data.npz
        ../../unsupervised_learning/hyperparameter_tuning/gpy_notebook/
        ../../unsupervised_learning/hyperparameter_tuning/main/
        ../../unsupervised_learning/hyperparameter_tuning/requirements.txt
        ../../unsupervised_learning/hyperparameter_tuning/test